<div>
  <form (ngSubmit)="onSubmit()" [ngFormModel]="form">
      <table>
          <thead>
          This is a description
          <button type="button" (click)="addRule()">Add Rule</button>







          <br>
          <pre>
              {{questions | json}}
          </pre>
          <br>
          <br>
          <pre>
              {{selectedQ | json}}
          </pre>
          <br>
          <br>
          <pre>
              {{ruleControlGroups | json}}
          </pre>
          <br>
          <br>
          <pre>
              {{rules | json}}
          </pre>
          <br>
          <br>
          <pre>
              {{payLoad | json}}
          </pre>
          <br>
          <br>
          <pre>
              {{form | json}}
          </pre>
          <br>

          </thead>
          <tbody>
              <tr>
                  <td *ngFor="let question of questions" class="form-row">
                      <df-question [question]="question" [form]="form"></df-question>
                      <div *ngIf="question.key == 'limit'">
                          <button type="button" (click)="deleteRule(question)">Delete</button>
                      </div>
                  </td>
              </tr>
          </tbody>
          <tfoot>
          <button type="submit">Save</button>
          </tfoot>
      </table>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>

    {{selectedQ | json }}

</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->