<div [ngFormModel]="form">
  <label [attr.for]="question.key">{{question.label}}</label>


            <td *ngFor="let q of question" class="form-cell">
                <div [ngSwitch]="q.controlType" ngControlGroup="rules">
                    <div ngControlGroup="0">
                <code><pre>{{q | json}}</pre></code>

                <input *ngSwitchWhen="'textbox'" [ngControl]="q.key" [ngModel]="q.value"
                       [id]="q.key" [type]="q.type">

                <select [id]="q.key" *ngSwitchWhen="'dropdown'" [ngControl]="q.key"  [ngModel]="q.value">
                    <option *ngFor="let opt of q.options" [value]="opt.key">{{opt.value}}</option>
                </select>
                </div>
                </div>

            </td>


</div>